/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */ /*make sure to actually use the class though- this is to make sure the section/element doesn't collapse*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
	clear: both;
}
.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}
.alignleft {
	float: left;
	padding: 0 10px 10px 0;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  text-align: center;
  color: #000;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Ubuntu', sans-serif;
  background-color: #81B3D0;
}
.container{
  width: 90%;
  margin: auto;
}
.gameBorder{
  text-align: center;
}
.card{
  height: 100px;
  color: white;
  width: 15%;
  font-size: 1.8rem;
  border: 2px solid  RGBa(255,0,0,.2);
  margin: 1% 8%;
  float: left;
  background-color: #DA005B;
}
.card:hover {
  border: 3px dotted green;
  background-color: #E5A445;
}
.selected{
  border: 3px dotted green;
  background-color: #E00F71;
}
@media only screen and (max-width:768px){
  body {
    font-size: .8em;
  }
  section{
    font-size: .9em;
  }
  h1{
    font-size: 1.5em;
  }
  .card{
    width: 32%;
    font-size: 1.5rem;
    color: white;
  }
}
